.container_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

@media (max-width: 992px) {
    .container_timer {
        height: 90vh;
    }
}